.firstPage {
  background-image: url("https://tse3.mm.bing.net/th/id/OIP.98Ut07d5ezYw9eFC6mK26gHaE9?pid=Api&P=0&h=180");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
